/venv/
/Simulation/Tamás Visy/CARLA/files/carla-0.9.10-py3.7-win-amd64.egg
/.idea/
/Simulation/Tamás Visy/CARLA/files/carla-0.9.10-py3.7-win-amd64.egg
/Microcontroller/Network/carla.log
/Simulation/Tamás Visy/CARLA/files/carla.log
/Simulation/Tamás Visy/CARLA/files/tensor.pt
/venvn/
